.post {
	max-width: 100vw;
	height: 64px;
	border-bottom: 1px solid #333;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #222;
	text-decoration: none;
	padding: 0 64px;
	&:hover {
		opacity: 0.95;
		cursor: pointer;
		.post--title {
			text-decoration: underline;
		}
		.post--button {
			visibility: visible;
		}
	}
	&--resume{
		flex: 3;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	&--title {
		color: #eee;
		margin-right: 8px;
	}
	&--author {
		color: #999;
		font-weight: normal;
	}
	&--created_at {
		flex: 1;
		color: #eee;
	}
	&--button {
		visibility: hidden;
		border: 0;
		padding: 0;
		background: transparent;
		color: rgb(226, 71, 71);
		&:hover{
			cursor: pointer;
			color: rgb(241, 122, 122);
		}
	}
}